
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutFreemana.cshtml";
}
@using Worry_freemanagement.Models;
@{
    Entities1 db = new Entities1();
    List<Stafftable> de = ViewBag.de;
    Stafftable Employee=null;
}
<script src="~/Scripts/jquery.validate.js"></script>
<h2>添加员工奖罚信息</h2>
<form action="/punishments/Add" method="post" style="margin-left:30px;" id="saa">
    <div class="form-group">
        <label style="font-size:18px;">员工姓名：</label>
        <select name="Name" class="form-control">
            @foreach (var item in de)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label style="font-size:18px;">奖罚原因：</label>
        <input type="text" name="Reason" class="form-control" placeholder="请输入奖罚原因" />
    </div>
    <div class="form-group">
        <label style="font-size:18px;">奖罚内容：</label>
        <input type="text" name="Amount" class="form-control" placeholder="请输入奖罚内容" />
    </div>
    <div class="col-lg-12 form-group">
        @*<input type="hidden" name="EmployeeID" value="@Employee.EmployeeID" />*@
        <input type="submit" name="name" value="添加" class="btn btn-default btn-success" />
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $("#saa").validate({
            rules: {
                Reason: { required: true },//奖罚原因
                Amount: { required: true },//奖罚内容
            },
            messages: {
                Reason: { required: "请输入奖罚原因必填" },
                Amount: { required: "请输入奖罚内容必填" },
            }
        });
    });
</script>
<style>
    .error {
        color: red;
    }
</style>


