
@{
    ViewBag.Title = "AddWage";
    Layout = "~/Views/Shared/_LayoutFreemana.cshtml";
}

<h2>录入员工工资</h2>
<form action="/" method="post">
    <div>
        <label>查询员工信息</label>
        <input type="text" name="name" value="" />
    </div>

    <div>
        <label>员工编号:</label>
        <input type="text" name="name" value="" />
        <label>部门:</label>
        <input type="text" name="name" value="" />
        <label>基础工资</label>
        <input type="text" name="name" value="" />
    </div>

    <div>
        <label>添加员工工资</label>
        <input type="text" name="name" value="" />
    </div>
</form>

