
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutFreemana.cshtml";
}
@using Worry_freemanagement.Models;
@{
    List<Departmental> de = ViewBag.de;
}
@*<script src="~/Scripts/jquery-3.4.1.js"></script>*@
<script src="~/Scripts/jquery.validate.js"></script>
<h2>添加招聘人</h2>
<form action="/Recruitment/Add" method="post" id="xuan">
    <div class="col-lg-6 form-group">
        <label style="font-size:18px;">姓名：</label>
        <input type="text" name="Name" class="form-control" placeholder="请输入姓名" />
    </div>
    <div class="col-lg-6 form-group">
        <label style="font-size:18px;">年龄：</label>
        <input type="text" name="Age" class="form-control" placeholder="请输入年龄" />
    </div>
    <div class="col-lg-6 form-group">
        <label style="font-size:18px;">电话：</label>
        <input type="text" name="Phone" class="form-control" placeholder="请输入电话" />
    </div>
    <div class="col-lg-6 form-group" style="margin-top:10px;">
        <label style="font-size:18px;">性别：</label>
        <input type="radio" name="Sex" value="男" checked />男
        <input type="radio" name="Sex" value="女" />女
    </div>
    <div class="col-lg-6 form-group">
        <label style="font-size:18px;">籍贯：</label>
        <input type="text" name="Nativeplace" class="form-control" placeholder="请输入籍贯所在" />
    </div>
    <div class="col-lg-6 form-group" style="margin-top:-50px;">
        <label style="font-size:18px;">学历：</label>
        <select name="Education" class="form-control">
            <option value="大专">大专</option>
            <option value="本科">本科</option>
            <option value="硕士">硕士</option>
            <option value="博士">博士</option>
        </select>
    </div>
    <div class="col-lg-6 form-group">
        <label style="font-size:18px;">应聘部门：</label>
        @*<input type="text" name="DepartmentID" class="form-control" />*@
        <select name="DepartmentID" class="form-control">
            @foreach (var item in de)
            {
                <option value="@item.DepartmentID">@item.DepartmentName</option>
            }
        </select>
    </div>
    <div class="col-lg-6 form-group" style="margin-top:-40px;">
        <label style="font-size:18px;">应聘职位：</label>
        <select name="Position" class="form-control">
            <option value="员工">员工</option>
            <option value="部门经理">部门经理</option>
            <option value="部门总管">部门总管</option>
        </select>
    </div>
    <div class="col-lg-6 form-group">
        <label style="font-size:18px;">照片：</label>
        <input type="file" name="Photos" class="form-control" />
    </div>
    <div class="col-lg-6 form-group" style="margin-top:-40px;">
        <label style="font-size:18px;">简介：</label>
        <textarea name="Introduction" class="form-control"></textarea>
    </div>
    <div class="col-lg-12 form-group">
        <input type="submit" name="name" value="添加" class="btn btn-default btn-success" />
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $("#xuan").validate({
            rules: {
                Name: { required: true },//用户名不能为空
                Age: { required: true },//年龄
                Phone: { required: true },//电话
                Nativeplace: { required: true },//籍贯
                Photos: { required: true },//照片
                Introduction: { required: true },//简介
            },
            messages: {
                Name: { required: "请输入用户名" },
                Age: { required: "请输入年龄" },
                Phone: { required: "请输入电话" },
                Nativeplace: { required: "请输入籍贯所在" },
                Photos: { required: "请上传照片" },
                Introduction: { required: "请输入个人简介" },
            }
        });
    });
</script>
<style>
    .error {
        color:red;
    }
</style>

