
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutFreemana.cshtml";
}
<h2 style="font-family:幼体;">添加部门信息</h2>
<form action="#" method="post">
    <div style="margin-left:30px;">
        <div>
            <label style="font-size:18px;">部门名称：</label>
            <input type="text" name="DepartmentName" class="form-control" />
        </div>
        <br/>
        <div>
            <label style="font-size:18px;">部门简介：</label>
            <input type="text" name="DepartmentNun" class="form-control" />
        </div>
        <br/>
        <div>
            <label style="font-size:18px;">部门人数：</label>
            <input type="text" name="Introduction" class="form-control" />
        </div>
        <br/>
        <div>
            <label style="font-size:18px;">基本工资：</label>
            <input type="text" name="Basic" class="form-control" />
        </div>
        <br/>
        <div>
            <input type="submit" name="name" value="添加部门" class="btn btn-default btn-success" />
        </div>

    </div>
    
</form>
