
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_LayoutFreemana.cshtml";
}

<h2>公告内容</h2>
<textarea name="News_content" id="content2" style="display:none">
      @Model.News_content
</textarea>
<div id="div1">

</div>
@section scripts{
    <script type="text/javascript">
        //CKEDITOR.replace('News_content');
        $("#div1").html($("#content2").text());
    </script>
}