USE [master]
GO
/****** Object:  Database [Worry-freemanagement]    Script Date: 2020/7/9 23:38:09 ******/
CREATE DATABASE [Worry-freemanagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Worry-freemanagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Worry-freemanagement.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Worry-freemanagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Worry-freemanagement_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Worry-freemanagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Worry-freemanagement]
GO
/****** Object:  Table [dbo].[Admini]    Script Date: 2020/7/9 23:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admini](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[Password] [nvarchar](12) NOT NULL,
	[UserNaem] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admini] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clockin]    Script Date: 2020/7/9 23:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clockin](
	[Clockinid] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[Name] [nvarchar](10) NULL,
	[Gotowork] [datetime] NULL,
	[Gooffwork] [datetime] NULL,
 CONSTRAINT [PK_Clockin] PRIMARY KEY CLUSTERED 
(
	[Clockinid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departmental]    Script Date: 2020/7/9 23:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmental](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](10) NOT NULL,
	[DepartmentNun] [nvarchar](50) NOT NULL,
	[Introduction] [nvarchar](50) NOT NULL,
	[Basic] [numeric](18, 2) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[notice]    Script Date: 2020/7/9 23:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[datatime] [datetime] NOT NULL,
	[photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_notice] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[punishments]    Script Date: 2020/7/9 23:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[punishments](
	[EventsID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Name] [nvarchar](10) NULL,
	[Reason] [nvarchar](50) NULL,
	[Datatime] [datetime] NULL,
	[Amount] [nvarchar](50) NULL,
 CONSTRAINT [PK_punishments] PRIMARY KEY CLUSTERED 
(
	[EventsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Recruitment]    Script Date: 2020/7/9 23:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recruitment](
	[RecruitmentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[Phone] [nchar](11) NOT NULL,
	[Age] [nchar](10) NOT NULL,
	[Sex] [nchar](2) NULL,
	[Nativeplace] [nvarchar](10) NULL,
	[Education] [nvarchar](5) NULL,
	[Position] [nvarchar](10) NULL,
	[Photos] [nchar](13) NULL,
	[DepartmentID] [int] NOT NULL,
	[Introduction] [nvarchar](max) NULL,
 CONSTRAINT [PK_Recruitment] PRIMARY KEY CLUSTERED 
(
	[RecruitmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stafftable]    Script Date: 2020/7/9 23:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stafftable](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[Sex] [nchar](2) NOT NULL,
	[Age] [int] NOT NULL,
	[Telephone] [nchar](13) NOT NULL,
	[DepartmentID] [int] NULL,
	[EntryTime] [datetime] NOT NULL,
	[Photos] [nvarchar](10) NOT NULL,
	[Position] [nvarchar](10) NULL,
	[Education] [nvarchar](5) NULL,
	[UserName] [nchar](18) NULL,
	[Password] [varchar](20) NULL,
	[Nativeplace] [nvarchar](10) NULL,
 CONSTRAINT [PK_Stafftable] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Trainingform]    Script Date: 2020/7/9 23:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainingform](
	[TrainingID] [int] IDENTITY(1,1) NOT NULL,
	[Nametraining] [nvarchar](50) NULL,
	[Personnel] [nchar](10) NULL,
	[Location] [nvarchar](50) NULL,
	[Reason] [nvarchar](50) NULL,
	[Datatime] [datetime] NULL,
	[Datatimes] [datetime] NULL,
 CONSTRAINT [PK_Trainingform] PRIMARY KEY CLUSTERED 
(
	[TrainingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wage]    Script Date: 2020/7/9 23:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[Month] [datetime] NOT NULL,
	[Basicwage] [decimal](18, 2) NOT NULL,
	[Overtime] [decimal](18, 2) NULL,
	[Gongz] [decimal](18, 2) NULL,
	[Insurance] [decimal](18, 2) NULL,
	[Real] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Wage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admini] ON 

INSERT [dbo].[Admini] ([Id], [Name], [Password], [UserNaem]) VALUES (1, N'zw        ', N'88888888', N'小紫薇')
SET IDENTITY_INSERT [dbo].[Admini] OFF
SET IDENTITY_INSERT [dbo].[Clockin] ON 

INSERT [dbo].[Clockin] ([Clockinid], [EmployeeID], [Name], [Gotowork], [Gooffwork]) VALUES (8, 1, N'紫薇', CAST(0x0000ABF30150EB60 AS DateTime), CAST(0x0000ABF3011826C0 AS DateTime))
INSERT [dbo].[Clockin] ([Clockinid], [EmployeeID], [Name], [Gotowork], [Gooffwork]) VALUES (9, 1, N'紫薇', CAST(0x0000ABF30154F0C9 AS DateTime), CAST(0x0000ABF3011826C0 AS DateTime))
INSERT [dbo].[Clockin] ([Clockinid], [EmployeeID], [Name], [Gotowork], [Gooffwork]) VALUES (10, 1, N'紫薇', CAST(0x0000ABF301550381 AS DateTime), CAST(0x0000ABF3011826C0 AS DateTime))
SET IDENTITY_INSERT [dbo].[Clockin] OFF
SET IDENTITY_INSERT [dbo].[Departmental] ON 

INSERT [dbo].[Departmental] ([DepartmentID], [DepartmentName], [DepartmentNun], [Introduction], [Basic]) VALUES (1, N'研发部', N'产品的研发', N'10', CAST(4000.00 AS Numeric(18, 2)))
INSERT [dbo].[Departmental] ([DepartmentID], [DepartmentName], [DepartmentNun], [Introduction], [Basic]) VALUES (2, N'销售部门', N'负责产品的销售', N'10', CAST(3600.00 AS Numeric(18, 2)))
INSERT [dbo].[Departmental] ([DepartmentID], [DepartmentName], [DepartmentNun], [Introduction], [Basic]) VALUES (3, N'实施部门', N'产品的对接，与产品后期的维护', N'10', CAST(3500.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[Departmental] OFF
SET IDENTITY_INSERT [dbo].[notice] ON 

INSERT [dbo].[notice] ([id], [name], [Content], [datatime], [photo]) VALUES (1, N'人员调整', N'公司人员的调整', CAST(0x0000ABED010D5E9F AS DateTime), N'1.jpg')
INSERT [dbo].[notice] ([id], [name], [Content], [datatime], [photo]) VALUES (2, N'端午放假通知', N'端午放假通知：<br />
&nbsp; &nbsp; &nbsp; &nbsp;端午响应国家号召，听从国家的安排，特此通知全员放假三天，<br />
特此通知！<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 祝大家假日愉快！', CAST(0x0000ABED011843E5 AS DateTime), N'2.jpg')
SET IDENTITY_INSERT [dbo].[notice] OFF
SET IDENTITY_INSERT [dbo].[punishments] ON 

INSERT [dbo].[punishments] ([EventsID], [EmployeeID], [Name], [Reason], [Datatime], [Amount]) VALUES (1, 1, N'紫薇', N'先进员工', CAST(0x0000ABEA017E7977 AS DateTime), N'200')
INSERT [dbo].[punishments] ([EventsID], [EmployeeID], [Name], [Reason], [Datatime], [Amount]) VALUES (2, 1, N'紫薇', N'劳动先锋', CAST(0x0000ABEA017E7977 AS DateTime), N'200')
INSERT [dbo].[punishments] ([EventsID], [EmployeeID], [Name], [Reason], [Datatime], [Amount]) VALUES (3, 3, N'小旋', N'公司榜样', CAST(0x0000ABEB009BC987 AS DateTime), N'奖励现金100')
SET IDENTITY_INSERT [dbo].[punishments] OFF
SET IDENTITY_INSERT [dbo].[Recruitment] ON 

INSERT [dbo].[Recruitment] ([RecruitmentID], [Name], [Phone], [Age], [Sex], [Nativeplace], [Education], [Position], [Photos], [DepartmentID], [Introduction]) VALUES (2, N'盲僧僧', N'12345678911', N'21        ', N'男 ', N'湖南永州', N'大专', N'员工', N'5.jpg        ', 1, N'无')
SET IDENTITY_INSERT [dbo].[Recruitment] OFF
SET IDENTITY_INSERT [dbo].[Stafftable] ON 

INSERT [dbo].[Stafftable] ([EmployeeID], [Name], [Sex], [Age], [Telephone], [DepartmentID], [EntryTime], [Photos], [Position], [Education], [UserName], [Password], [Nativeplace]) VALUES (1, N'紫薇', N'男 ', 22, N'18573028898  ', 1, CAST(0x0000ABDA0175FBD8 AS DateTime), N'3.jpg', N'经理', N'本科', N'zw                ', N'123456', N'湖南岳阳')
INSERT [dbo].[Stafftable] ([EmployeeID], [Name], [Sex], [Age], [Telephone], [DepartmentID], [EntryTime], [Photos], [Position], [Education], [UserName], [Password], [Nativeplace]) VALUES (2, N'嘻嘻嘻', N'男 ', 21, N'14785236987  ', 1, CAST(0x0000ABDF00AF7271 AS DateTime), N'1.jpg', N'员工', N'本科', N'aa1               ', N'1233456', N'湖南永州')
INSERT [dbo].[Stafftable] ([EmployeeID], [Name], [Sex], [Age], [Telephone], [DepartmentID], [EntryTime], [Photos], [Position], [Education], [UserName], [Password], [Nativeplace]) VALUES (3, N'小旋', N'男 ', 21, N'123456778900 ', 1, CAST(0x0000ABDF00B43AF0 AS DateTime), N'1.jpg     ', N'员工', N'本科', N'aa2               ', N'123456', N'湖南永州')
SET IDENTITY_INSERT [dbo].[Stafftable] OFF
SET IDENTITY_INSERT [dbo].[Trainingform] ON 

INSERT [dbo].[Trainingform] ([TrainingID], [Nametraining], [Personnel], [Location], [Reason], [Datatime], [Datatimes]) VALUES (1, N'员工技能培训', N'公司大厅      ', N'1 2 3', N'提高员工的技能', CAST(0x0000ABE30109AEF4 AS DateTime), CAST(0x0000ABEB00C5C100 AS DateTime))
INSERT [dbo].[Trainingform] ([TrainingID], [Nametraining], [Personnel], [Location], [Reason], [Datatime], [Datatimes]) VALUES (4, N'广播体超', N'公司前广场     ', N'1 3 4 5', N'锻炼身体', CAST(0x0000ABEC00735B40 AS DateTime), CAST(0x0000ABEC007B98A0 AS DateTime))
SET IDENTITY_INSERT [dbo].[Trainingform] OFF
SET IDENTITY_INSERT [dbo].[Wage] ON 

INSERT [dbo].[Wage] ([ID], [EmployeeID], [Name], [DepartmentID], [Month], [Basicwage], [Overtime], [Gongz], [Insurance], [Real]) VALUES (2, 1, N'紫薇', 1, CAST(0x0000ABB500000000 AS DateTime), CAST(4500.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), CAST(7000.00 AS Decimal(18, 2)))
INSERT [dbo].[Wage] ([ID], [EmployeeID], [Name], [DepartmentID], [Month], [Basicwage], [Overtime], [Gongz], [Insurance], [Real]) VALUES (3, 1, N'紫薇', 1, CAST(0x0000ABD400000000 AS DateTime), CAST(4500.00 AS Decimal(18, 2)), CAST(3200.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), CAST(8300.00 AS Decimal(18, 2)))
INSERT [dbo].[Wage] ([ID], [EmployeeID], [Name], [DepartmentID], [Month], [Basicwage], [Overtime], [Gongz], [Insurance], [Real]) VALUES (11, 4, N'小洋', 2, CAST(0x0000ABEC00000000 AS DateTime), CAST(3600.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), CAST(6100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Wage] OFF
ALTER TABLE [dbo].[notice] ADD  CONSTRAINT [DF_notice_datatime]  DEFAULT (getdate()) FOR [datatime]
GO
ALTER TABLE [dbo].[punishments] ADD  CONSTRAINT [DF_punishments_Datatime]  DEFAULT (getdate()) FOR [Datatime]
GO
ALTER TABLE [dbo].[Stafftable] ADD  CONSTRAINT [DF_Stafftable_EntryTime]  DEFAULT (getdate()) FOR [EntryTime]
GO
ALTER TABLE [dbo].[Stafftable] ADD  CONSTRAINT [DF_Stafftable_UserName]  DEFAULT (N'aa') FOR [UserName]
GO
ALTER TABLE [dbo].[Stafftable] ADD  CONSTRAINT [DF_Stafftable_Password]  DEFAULT ((1233456)) FOR [Password]
GO
ALTER TABLE [dbo].[Trainingform] ADD  CONSTRAINT [DF_Trainingform_Datatime]  DEFAULT (getdate()) FOR [Datatime]
GO
ALTER TABLE [dbo].[Clockin]  WITH CHECK ADD  CONSTRAINT [FK_Clockin_Stafftable] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Stafftable] ([EmployeeID])
GO
ALTER TABLE [dbo].[Clockin] CHECK CONSTRAINT [FK_Clockin_Stafftable]
GO
ALTER TABLE [dbo].[punishments]  WITH CHECK ADD  CONSTRAINT [FK_punishments_Stafftable] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Stafftable] ([EmployeeID])
GO
ALTER TABLE [dbo].[punishments] CHECK CONSTRAINT [FK_punishments_Stafftable]
GO
ALTER TABLE [dbo].[Trainingform]  WITH CHECK ADD  CONSTRAINT [FK_Trainingform_Trainingform] FOREIGN KEY([TrainingID])
REFERENCES [dbo].[Trainingform] ([TrainingID])
GO
ALTER TABLE [dbo].[Trainingform] CHECK CONSTRAINT [FK_Trainingform_Trainingform]
GO
ALTER TABLE [dbo].[Wage]  WITH CHECK ADD  CONSTRAINT [FK_Wage_Stafftable] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Stafftable] ([EmployeeID])
GO
ALTER TABLE [dbo].[Wage] CHECK CONSTRAINT [FK_Wage_Stafftable]
GO
USE [master]
GO
