
@{
    ViewBag.Title = "tegm";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<script src="~/statics/js/masonry_4.min.js"></script>
<script src="~/statics/js/jquery-1.11.3.min.js"></script>
<script src="~/statics/js/m_org.min.js"></script>
<script src="~/statics/js/org.min.js"></script>
<script src="~/statics/js/wow.min.js"></script>
<script src="~/statics/js/zepto.bxslider.min.js"></script>
<script src="~/statics/js/zepto.min.js"></script>
<script>
    $(function () {
        if (!$("#mindex").length) {
            $('body').addClass('sscreen')
        }
    })
</script>
<script type="text/javascript" src="statics/js/org.min.js" data-main="baseMain"></script>
<title>团队</title>
	</head>

<body>
    <div class="bodyMask"> </div>
    <div id="header" class="index_nav">

       
        <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
    </div>
    <div id="sitecontent">

        <div class="npagePage Pageteam">
            <div id="banner">
                <div style="background-image:url(statics/images/1481876577820.jpg);"></div>
            </div>
            <div class="content">
                <div class="header">
                    <p class="title">精英团队</p>
                    <p class="subtitle">Team</p>
                </div>
                <div id="teamlist">
                    <div class="wrap">
                        <div class="teamitem">
                            <a href="team_detail.html">
                                <div class="teamimg"><img src="statics/images/1481614452815.jpg" width="320" height="320" /></div>
                                <div class="wrap">
                                    <div><span class="h"></span><span class="v"></span></div>
                                </div>
                            </a>
                            <div class="teaminfo">
                                <p class="title">
                                    <a href="#">王璞</a>
                                </p>
                                <p class="subtitle">首席咨询师</p>
                                <p class="description">
                                    北京大学光华管理学院 首届MBA，协助策划公司线上线下产品推广和市场宣传活动，并具体执行 ...
                                </p>
                            </div>
                            <a href="team_detail.html" target="_blank" class="details">more<i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="teamitem">
                            <a href="team_detail.html">
                                <div class="teamimg"><img src="statics/images/1481614919163.jpg" width="320" height="320" /></div>
                                <div class="wrap">
                                    <div><span class="h"></span><span class="v"></span></div>
                                </div>
                            </a>
                            <div class="teaminfo">
                                <p class="title">
                                    <a href="#">杨振涛</a>
                                </p>
                                <p class="subtitle">八级咨询师</p>
                                <p class="description">北京航空航天大学 工商管理硕士 ,FLASH开发在代码中体验完美生活,汇总客户反馈意见 ...</p>
                            </div>
                            <a href="team_detail.html" target="_blank" class="details">more<i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="teamitem">
                            <a href="team_detail.html">
                                <div class="teamimg"><img src="statics/images/1481767184458.jpg" width="320" height="320" /></div>
                                <div class="wrap">
                                    <div><span class="h"></span><span class="v"></span></div>
                                </div>
                            </a>
                            <div class="teaminfo">
                                <p class="title">
                                    <a href="#">刘庆韬</a>
                                </p>
                                <p class="subtitle">九级咨询师</p>
                                <p class="description">华中理工大学经济管理学院经济学士 1990-1994、日本电通、联想集团具有创业精神，能承受一定的工作压力量居内蒙古自治区盟市 ...</p>
                            </div>
                            <a href="team_detail.html" target="_blank" class="details">more<i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="teamitem">
                            <a href="team_detail.html">
                                <div class="teamimg"><img src="statics/images/1481771175368.jpg" width="320" height="320" /></div>
                                <div class="wrap">
                                    <div><span class="h"></span><span class="v"></span></div>
                                </div>
                            </a>
                            <div class="teaminfo">
                                <p class="title">
                                    <a href="#">陈江</a>
                                </p>
                                <p class="subtitle">九级咨询师</p>
                                <p class="description">中国人民大学财政金融学院经济学硕士 1997-2000，曾服务雅虎、腾讯、搜狐、新浪、民生银行,具备良好的执行力，较强的沟通表达能力和协调能力</p>
                            </div>
                            <a href="team_detail.html" target="_blank" class="details">more<i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="teamitem">
                            <a href="team_detail.html">
                                <div class="teamimg"><img src="statics/images/1481771247362.jpg" width="320" height="320" /></div>
                                <div class="wrap">
                                    <div><span class="h"></span><span class="v"></span></div>
                                </div>
                            </a>
                            <div class="teaminfo">
                                <p class="title">
                                    <a href="#">李强</a>
                                </p>
                                <p class="subtitle">七级咨询师</p>
                                <p class="description">北方工业大学 工业电气自动化工学学士/7年互联网经验，曾服务于搜狐火炬传递、北京建筑设计研究院、日本电通</p>
                            </div>
                            <a href="team_detail.html" target="_blank" class="details">more<i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="teamitem">
                            <a href="team_detail.html">
                                <div class="teamimg"><img src="statics/images/147765449841.jpg" width="320" height="320" /></div>
                                <div class="wrap">
                                    <div><span class="h"></span><span class="v"></span></div>
                                </div>
                            </a>
                            <div class="teaminfo">
                                <p class="title">
                                    <a href="#">周扬-kevin</a>
                                </p>
                                <p class="subtitle">公司创始人</p>
                                <p class="description">世界权威电子设计杂志 NEWWEBPICK 推荐设计师 收录电子杂志 （第29期）</p>
                            </div>
                            <a href="team_detail.html" target="_blank" class="details">more<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="pages"></div>
            </div>
        </div>
    </div>
</body>


